
.circleBase {
    border-radius: 50%;
}
.type1 {
    background: #ffff00 none repeat scroll 0 0;
    border: 3px solid red;
    height: 100px;
    width: 100px;
}
.type2 {
    background: #cccccc none repeat scroll 0 0;
    border: 1px solid #4682b4;
    height: 20px;
    width: 20px;
}
#info_div {
    background: #cd853f none repeat scroll 0 0;
    display: none;
    font-size: 20px;
    height: 248px;
    padding: 10px;
    text-align: center;
}
#settings_div {
    background: #008b8b none repeat scroll 0 0;
    font-size: large;
    height: 248px;
    padding: 10px;
}
#control_panel {
    height: auto;
    left: -300px;
    position: fixed;
    top: 100px;
    z-index: 2999;
}
#control_panel_handle {
    background: #708090 none repeat scroll 0 0;
    color: white;
    cursor: move;
    padding: 5px;
    text-align: center;
}
#settings_div_handle {
    background: #008b8b none repeat scroll 0 0;
    padding: 5px;
    text-align: center;
}
#info_panel_handle {
    background: #cd853f none repeat scroll 0 0;
    padding: 5px;
    text-align: center;
}
#openclose_handle {
    background: #808080 none repeat scroll 0 0;
    padding: 5px;
    text-align: center;
}
#gene_tree {
    left: 50px;
    overflow: visible;
    position: relative;
    top: 50px;
    width: 100%;
}
#popup {
    display: none;
    height: 130px;
    width: 200px;
}
#stable_id_header {
    color: white;
    padding: 2px;
    width: 100%;
}
#makemetop_button {
    float: right;
}
#popup_header {
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
}
#popup_body {
    padding: 5px;
    position: relative;
}
#ruler {
    font-family: Courier;
    font-size: 13px;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
}
.bubbleright {
    background-color: white;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    border: 1px solid #888888;
    box-shadow: 10px 10px 35px #888888;
    color: #333333;
    display: inline-block;
    position: absolute;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    width: 100%;
    z-index: 999;
}
.bubbleright::after {
    border-bottom: 25px solid transparent;
    border-right: 25px solid white;
    bottom: -25px;
    content: "";
    left: 176px;
    margin-left: -10px;
    position: absolute;
    z-index: 999;
}
.bubbleright::before {
    border-left: 25px solid rgba(0, 0, 0, 0.1);
    bottom: -28px;
    left: 22px;
    margin-left: -10px;
    z-index: 999;
}
#footer {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    clear: both;
    color: white;
    font-size: 0.7em;
    height: 30px;
    left: 0;
    opacity: 0.7;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
#footer a {
    color: #ffffff;
}
.headerbar {
    -moz-user-select: none;
    background-color: #4682b4;
    border-bottom: 1px solid #4682b4;
    color: white;
    font-size: larger;
    height: 35px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2999;
}
.headerbar a:link {
    -moz-user-select: none;
    color: white;
    text-decoration: none;
}
.headerbar a:visited {
    -moz-user-select: none;
    color: #ffffff;
    text-decoration: none;
}
.headerbar a:hover {
    -moz-user-select: none;
    color: yellow;
    text-decoration: none;
}
.headerlink {
    color: white;
    font-family: arial;
}
.headerlink a:link {
    color: #ffffff;
}
.refmap {
    background: #a9a9a9 none repeat scroll 0 0;
    border-radius: 7px;
    bottom: 30px;
    cursor: pointer;
    opacity: 1;
    overflow: hidden;
    position: absolute;
}
#refmap {
    height: 150px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.refmapmarker {
    background: #0000ff none repeat scroll 0 0;
    border-radius: 1px;
    cursor: pointer;
    opacity: 1;
    position: absolute;
}
.refmapsearchmarkergene {
    background: #ff0000 none repeat scroll 0 0;
    border-radius: 1px;
    cursor: pointer;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
}
.refmapsearchmarkerseqregion {
    background: #808080 none repeat scroll 0 0;
    border: 0.5px solid black;
    border-radius: 1px;
    cursor: pointer;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
}
.refmapsearchmarkertranscript {
    background: #008000 none repeat scroll 0 0;
    border-radius: 1px;
    cursor: pointer;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
}
.refmapsearchmarkergo {
    background: #000000 none repeat scroll 0 0;
    border-radius: 1px;
    cursor: pointer;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
}
.refMarker {
    background: #000000 none repeat scroll 0 0;
    cursor: pointer;
    height: 10px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    z-index: 999;
}
.refMarkerShow {
    background: #008000 none repeat scroll 0 0;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 999;
}
.selected {
    background: #ff0000 none repeat scroll 0 0;
    box-shadow: 0 0 2px 2px blue;
    z-index: 1999;
}
#gene_widget {
    height: auto;
    left: 0;
    position: relative;
    top: 20px;
    width: 100%;
    z-index: 999;
}
.frontcorner {
    border-radius: 5px 0 0 5px;
}
.endcorner {
    border-radius: 0 5px 5px 0;
}
#genomes {
    -moz-appearance: -moz-window-titlebar;
    background: #ffffff none repeat scroll 0 0;
    color: gray;
    font-size: larger;
    margin: 0;
    padding: 0;
}
#genomes li:hover {
    color: #ffffff;
}
.flip {
    transform: rotate(-180deg);
}
.flip-label {
    transform: rotate(180deg);
}
#gene_tree {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 20%;
    z-index: 999;
}
.reverse {
    border-color: #ffffff rgba(0, 0, 0, 0) #ffffff white;
    border-style: solid;
    border-width: 7px 10px 7px 0;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1999;
}
.forward {
    border-bottom: 7px solid white;
    border-left: 10px solid transparent;
    border-top: 7px solid white;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1999;
}
.node {
    cursor: pointer;
}
.node circle {
    fill: #ffffff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #cccccc;
    /*stroke-width: 1.5px;*/
}
div.tooltip {
    background: #dddddd none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    font: 10px sans-serif;
    height: 80px;
    padding: 8px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100px;
}
.circleBase {
    border-radius: 50%;
}
.type1 {
    background: #ffff00 none repeat scroll 0 0;
    border: 3px solid red;
    height: 100px;
    width: 100px;
}
.type2 {
    background: #cccccc none repeat scroll 0 0;
    border: 1px solid #4682b4;
    height: 15px;
    width: 15px;
}
.search_header {
    font-size: large;
    padding: 10px;
}
.search_info {
    font-size: larger;
    padding: 10px;
}
.search_div {
    background: #90ee90 none repeat scroll 0 0;
    border: 1px solid lightgray;
    cursor: pointer;
    margin: 10px;
}
.search_div:hover {
    border: 1px solid black;
}
.control-buttons {
    cursor: pointer;
}
.filter {
    display: block;
    font-size: smaller;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}
.filter input {
    left: 5px;
    position: absolute;
}
#canvas {
    background-color: white;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 30px;
    width: 100%;
}
